.slick-prev {
    left: 10px !important;
    z-index: 1000;
  }
  .slick-prev:before {
    content: "";
  }
  .slick-next {
    right: 50px !important;
    z-index: 1000;
  }
  .slick-next:before {
    content: "";
  }

  .pembungkus {
    margin-bottom: 0px,
  }
